# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
# Ignora JSONs sensíveis
secrets.json
config.local.json

# Ignora JSONs temporários
temp/*.json
scripts/cache/*.json

# Não ignore arquivos importantes
!package.json
!tsconfig.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.env